<a href="https://colab.research.google.com/github/NonokaShimada/Class_report_1/blob/main/Class_report_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
print('Team member: Moe Umezaki, Nonoka Shimada, Millymarion Tani')

Team member: Moe Umezaki, Nonoka Shimada, Millymarion Tani

In [ ]:
list = (1,2,-3,18,-23,2,-8)
list_sum = sum(list)
print(list_sum)

list_abs = [abs(number) for number in list] 
list_abs_sum = sum(list_abs)
print(list_abs_sum)

list_abs_c = (filter(None,list))
list_abs_sum_c = sum(list_abs_c)
print(list_abs_sum_c)
print('execise 1.2')

In [ ]:
list = ['None', 'A', 'B']
if 'None' in list:
  print(True)
else:
    print(False)
print('execise 1.3')

In [ ]:
import math as M 
float_r = float(input("enter r:  "))
area = M.pi* float_r * float_r
print(area)
print('references: https://www.javatpoint.com/how-to-calculate-area-of-circle-using-python')
print('execise 1.4')

enter r:  3
28.274333882308138
references: https://www.javatpoint.com/how-to-calculate-area-of-circle-using-python

In [ ]:
from operator import index
import statistics
import math
list = [41,14,38,4,10,20,31]
list.sort()
second_max = set(list)
second_max.remove(max(second_max))
print(max(second_max))
print(statistics.median(list))
if len(list)%2==0:
  print(list[index(math.floor(len(list)/2))])
else:
  print(list[index(math.floor(len(list)/2))+1])

print('exercise: 1.5')

38
20
31
exercise: 1.5

In [ ]:
import pathlib
file=pathlib.Path("C:/temp/Test_Folder/test.txt")
if file.exists():
  print("True")
else:
  print("False")

import os
fpath="D:/workspace/python/"
isFile=os.path.isfile(fpath)
print("The S present at the path is a regular ")
fpath="D:/workspace/python/"
isDirectory=os.path.isdir(fpath)
print("The S present to a Directory:",isDirectory)

print("exercise1.6")

False
The S present at the path is a regular
The S present to a Directory: False
exercise1.6

In [ ]:
import os
directory="/Users/Programs/Directory/program1.csv."
pathname, extension=os.path.splitext(directory)
filename=pathname.split("/")
print(filename[-1])
print("exercise1.7")

program1.csv
exercise1.7

In [ ]:
from datetime import date 
d1 = date(2022, 9, 7)
d2 = date(2022, 11, 17)
delta = d2 - d1 
print(delta.days)

d3 = date(2002, 3, 13)
d4 = date(2022, 11, 17)
delta = d4 - d3 
print('The number of days since today from my born is')
print(delta.days)
print('execise1.8')

71
The number of days since today from my born is
7554
execise1.8

In [ ]:
import pandas as pd 
m = ({'title':['Ster Wars', 'Galaxy Quest', 'Waynes World'],
                        'year': [1977, 1999, 1992 ],
                        'length': [124, 104, 95],
                        'genre':['sciFi', 'comedy', 'comedy'],
                        'studioName':['Fox', 'DreamWorks', 'Paramount'],
                        'producerC＃': [123, 456, 789]})
                        
df_m = pd.DataFrame(data=m)
df_m['studioName'] == 'Fox','Columbia Pictures'

df_fil_m = df_m[df_m['studioName'] == 'Fox']
print(df_fil_m)
print(df_m.year >= 1955, df_m.year <= 1977)
print(df.loc['length', [df_m.year >= 1955, df_m.year <= 1977]])
print('execise1.9')

       title  year  length  genre studioName  producerC＃
0  Ster Wars  1977     124  sciFi        Fox         123
0    True
1    True
2    True
Name: year, dtype: bool 0     True
1    False
2    False
Name: year, dtype: bool

NameError: ignored

In [ ]:
import pandas as pd
r = ({'name':['Carrie Fisher', 'Mark Hamill'],
                   'address': ['123 Maple St.Hollywood', '456 Oak Rd.Brentwood'],
                   'gender': ['F', 'M'],
                   'birthdate': ['9/9/99', '8/8/88']})
df_r = pd.DataFrame(data=r)
df_r['gender'] == 'M' 
df_r['birthdate'] != '1/1/1900' 
df_fil_r = df_r[df_r['gender'] == 'M']
df_fil_r = df_r['birthdate'] != '1/1/1900'] 
print(df_fil_r)

s = ({'name': ['Carrie Fisher', 'Harrison Ford'],
                   'addres': ['123 Maple St.Hollywood', '789Palm Dr.Beverly Hills'],
                   'gender': ['F', 'M'],
                   'birthdate': ['9/9/99', '7/7/77']})
df_s = pd.DataFrame(data=s)

          name               address gender birthdate
1  Mark Hamill  456 Oak Rd.Brentwood      M    8/8/88